* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  background-color: #fcfcfc;
  color: #141414;
  margin: 0;
  padding: 0;
}

.infinitive-select div[class*="multiValue"] div:nth-child(2) {
  color: #68a27d;
}
.infinitive-select div[class*="multiValue"] div:nth-child(2):hover {
  background-color: #68a27d;
  color: white;
}
